alembic==1.13.3
Flask==3.0.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
injector==0.22.0
openai~=1.58.1
pytest==8.3.3
python-dotenv==1.0.1
WTForms==3.1.2

flask-migrate~=4.0.7
sqlalchemy~=2.0.35
langchain-community~=0.3.2
langchain-core~=0.3.21
langchain-openai~=0.2.2
langchain~=0.3.3
weaviate-client~=4.10.2
pydantic~=2.10.4
numpy~=1.26.4
flask-cors~=5.0.0
langgraph~=0.2.60
doctran~=0.0.14
langchain-text-splitters~=0.3.4
requests~=2.32.3
tiktoken~=0.8.0
langchain-experimental~=0.3.4
pandas~=2.2.3
umap-learn~=0.5.7
scikit-learn~=1.6.0
langchain-cohere~=0.3.4
jieba~=0.42.1
redis~=5.2.1
pyyaml~=6.0.2
duckduckgo-search~=7.1.1
celery~=5.4.0
marshmallow~=3.22.0
werkzeug~=3.0.4